* {
    padding:0;
    margin: 0px;
    background-color: #F2CB05;
}
h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #AB05F2;
    font-size: 4em;
    text-align: center;
    padding: 40px 40px;


}
#game {
    margin:auto;
    width: 500px;
    height: 200px;
    border:4px solid #29F280;
}

#character {
    width:20px;
    height:50px;
    background-color:#F2A30F;
    position:relative;
    top:150px;
    
}

.animate{
    animation:jump 500ms;
}

@keyframes jump{
    0%{top:150px;}
    30%{top:100px;}
    70%{top:150px;}
}
#block{
    width:20px;
    height:20px;
    background-color: #AB05F2;
    position:relative;
    top:130px;
    left:480;
    animation:block 1s infinite linear;
}
@keyframes block{
    0%{left:480px;}
    100%{left:-40px;}
}

